/* src/style.css */

/* Global Styles */

/* Styles for MapViewComponent */
.search-controls {
  width: 100%;
  max-width: 300px; /* Limita a largura máxima em telas maiores */
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .search-controls {
    left: 10px;
    right: 10px;
    width: auto;
    max-width: none;
  }
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background: #ccc;
}

#cameraLocation {
  margin-bottom: 32px;
}

.results-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  background: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos do botão de accordion */
.button-accordion {
  width: auto;
  height: auto;
  cursor: pointer;
  background: none;
  border: none;
  display: inline-flex;
  align-items: center;
  padding: 0;
}

/* Checkbox oculto para controlar o accordion */
.accordion-checkbox {
  display: none;
}

/* Seta rotacionada quando o accordion está aberto */
.accordion-checkbox:checked + .search-controls .button-accordion svg {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

/* Oculta o conteúdo do accordion por padrão */
.accordion-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

/* Mostra o conteúdo do accordion quando o checkbox está marcado */
.accordion-checkbox:checked ~ .search-controls .accordion-content {
  max-height: 500px; /* Ajuste conforme necessário */
  opacity: 1;
}

/* Map View Styles */
#viewDiv {
  width: 100%;
  height: 600px;
}

/* You can include other global styles here */
